<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Bootstrap-->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="body container-fluid d-flex flex-column">
      <!--Navigation-->
      <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Notes</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                  <!-- <a class="nav-link active" id="home-link" aria-current="page" href="/">Home</a> -->
                  <a class="nav-link" id="home-link" href="/">Home</a>
                  <a class="nav-link" id="notes-link" href="/notes">Notes</a>
                  <!-- <a class="nav-link" href="#">Pricing</a> -->
                  <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
              </div>
              <div class="navbar-nav ms-md-auto">
                  {% if not user.is_authenticated %}
                  <a class="nav-link ms-md-auto" id="login-link" href="/login">Login</a>
                  <a class="nav-link" id="register-link" href="/register">Register</a>
                  {% else %}
                  <a class="nav-link" id="logout-link" href="/logout">Logout</a>
                  {% endif %}
              </div>
          </div>
        </div>
      </nav>

      <!--Message Alert-->
      {% with messages = get_flashed_messages(with_categories=true) %} 
          {% if messages %} 
              {% for category, message in messages %} 
                  {% if category == 'error' %}
                      <div class="alert alert-danger alter-dismissable fade show d-flex" role="alert">
                          {{ message }}
                          <button type="button" class="close-btn" data-dismiss="alert">
                              <span aria-hidden="true">&times;</span>
                          </button>
                          </div>
                  {% else %}
                      <div class="alert alert-success alter-dismissable fade show d-flex" role="alert">
                          {{ message }}
                          <button type="button" class="close-btn" data-dismiss="alert">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                  {% endif %} 
              {% endfor %} 
          {% endif %} 
      {% endwith %}

      <!--Main Content-->
      <div class="container-fluid main-content">
          {% block content %} {% endblock %}
      </div>

      <footer>
        <p>Made with love by <strong>Shafira</strong></p>
      </footer>
    </div>

    
    <!--JScripts Bootstrap-->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

    <!--JScripts-->
    <script type="text/javascript" src="{{ url_for('static', filename='/js/index.js') }}"></script>
    
  </body>
</html>
