{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
    <h1 class="text-center title-text">Notes</h1>

    <!--Form for make a new note-->
    <div class="box-section">
        <form method="POST">
            <textarea name="note" id="note" class="form-control" cols="30" rows="1" placeholder="Write a new note"></textarea>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mt-3">Add Note</button>
            </div>
        </form>
    </div>
    

    <!--Note list-->
    <div class="note-list box-section w-100">
        <ul class="list-group list list-group-flush id="notes">
            {% for note in user.notes %}
            <li class="list-group-item d-flex"><span class="">{{ note.data }}</span>
                <button type="button" class="close-btn" onclick="deleteNote({{ note.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</div>

{% endblock %}