@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;
}

.body {
  min-height: 100vh;
  padding: 0;
}

.navbar {
  background-color: #22577a;
  color: #ffa69e;
}

.nav-link,
.navbar-brand {
  color: #ffa69e;
}

.navbar-brand {
  font-weight: 600;
}

.navbar-brand:hover {
  color: #ffa69e;
}

.nav-link:hover {
  color: #faf3dd;
}

.main-content {
  padding: 3rem;
  font-size: 1.1rem;
  min-height: 100%;
  margin-bottom: auto;
}

footer {
  background-color: #22577a;
  color: #ffa69e;
  margin: 0;
  padding: 2rem;
  text-align: center;
  margin-top: auto;
}

.box-section {
  margin: 1rem auto;
  padding: 3rem;
  border: 1px solid #22577a;
  border-radius: 10px;
  background-color: #faf3dd;
  width: min-content;
  min-width: 50rem;
  align-self: center;
}

.title-text {
  font-size: 3rem;
  font-weight: 600;
  color: #22577a;
  border-bottom: 0.2rem solid #aed9e0;
  margin-bottom: 3rem;
}

.form-group label {
  color: #22577a;
  font-size: 1.25rem;
}

.form-group {
  margin: 1rem 0;
}

.btn-primary {
  background-color: #22577a;
  color: #ffa69e;
  border-color: #22577a;
}

.btn-primary:hover {
  background-color: #ffa69e;
  color: #22577a;
}

.close-btn {
  margin-left: auto;
  border: 0;
  background-color: inherit;
  font-weight: 400;
  font-size: 1.25rem;
}

.close-btn:hover {
  font-weight: 600;
}

.borderless {
  border: none;
}

.note-list li {
  background-color: inherit;
}
